.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 95%;
    margin: auto;
}

.board {
    margin: auto;
    width: 70%;
    height: 100%;
}

.slate {
    margin: auto;
    width: 10%;
    height: 80%;
}

.chat {
    width: 20%;
    height: 100%;
    margin: auto;
}

.rules {
    height: 600px;
}
.back {
    height: 50px;
    width: 80px;
}
.Btn-div {
    margin-left: 650px;
}

.rules {
    height: 600px;
}
.back {
    height: 50px;
    width: 80px;
}
.Btn-div {
    margin-left: 650px;
}
