.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width : 95%;
  height : 95%;
  margin : auto;
}

.board{
  margin: auto;
  width : 70%;
  height : 100%;
}

.slate{
  margin: auto;
  width : 10%;
  height : 100%;
}

.chat{
  width : 20%;
  height: 100%;
  margin : auto;
}

.confirm{
  width : 30%;
  height : 5%;
  margin : auto;
}
